nav {
  width: 100%;
  height: 60px;
  background-color: #2d3748;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 70px;
  height: 60px;
  margin-left: 15px;
}

.action_cont {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 42%;
}

.add_btn_cont {
  border: 2px solid white;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add_btn {
  color: white;
  font-size: 45px;
}

.profile_cont {
  cursor: pointer;
}

.admin_action {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
