.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .auth {
    width: 30%;
    border: 1px solid #2d3748;
    padding: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    align-items: center;
  }
  
  .auth input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    position: relative;
    outline: none;
    background-color: #2d3748;
    border: none;
    border-radius: 5px;
    color: white;
  }
  
  .btn {
    font-size: 20px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    background-color: #2d3748;
    outline: none;
    border: none;
  }
  
  .login {
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  @media screen and (max-width: 800px) {
    .auth {
      width: 60%;
    }
  
    .btn {
      width: 50%;
    }
  }
  